# Dependency directories
node_modules/
dist/
build/

# Logs & Temp files
*.log
.DS_Store
*.tgz
coverage/
.elseid_test/
.elseid_temp/
.elseid-lab/
.elseid_lab/
.bicean_test/
.bicean_temp/
.bicean_lab/

# Configuration & Secrets
.env
.env.local

# Database files (Local storage)
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite3

# IDE / Editor
.vscode/
.idea/

# ElseID Specific
.elseid/
.elseid_data/
.bicean_data/

# Tests (local test artifacts)
# .elseid_test/
# .bicean_test/
