# Dependency directories
node_modules/
dist/
build/

# Logs & Temp files
*.log
.DS_Store
*.tgz
coverage/
.bicean_test/
.bicean_temp/

# Configuration & Secrets
.env
.env.local

# Database files (Local storage)
*.db
*.db-journal
*.db-wal

# IDE / Editor
.vscode/
.idea/

# Bicean Specific
.bicean_data/

# Generated reports
docs/*_report.md